@charset "UTF-8";
@use "../../foundation/mixin";
@use "../../object/utility/color";
.wp-pagenavi {
    text-align: center;
    line-height: 28px;
    font-size: 1.8rem;
    span.current {
        margin: 0 5px;
        border-color: color.$subColor;
        font-weight: 400;
    }
    a {
        display: inline-block;
        color: color.$textColor;
        background: color.$subColor;
        border: 1px solid color.$textColor;
    }
    span {
        display: inline-block;
        background: color.$textColor;
        color: color.$subColor;
        font-weight: 400;
    }
}
.c-arrow {
    width: 100%;
    margin-bottom: 60px;
    @include mixin.mid {
        margin-bottom: 90px;
    }
    .c-pagination {
        width: 100%;
        .wp-pagenavi {
            width: 100%;
            span, .larger, .smaller {
                    display: inline-block;
                    width: 38px;
                    height: 38px;
                    margin: 0 5px;
                    transition: 0.4s;
                    border: 1px solid color.$textColor;
                    font-weight: 400;
            }
            .larger:hover {
                background: color.$textColor;
                color: color.$subColor;
                border-color: color.$subColor;
                cursor: pointer;
            }
            .smaller:hover {
                background: color.$textColor;
                color: color.$subColor;
                border-color: color.$textColor;
                cursor: pointer;
            }
            .previouspostslink, .nextpostslink {
                border: 1px solid color.$textColor;
                color: color.$textColor;
                width: 38px;
                height: 38px;
                margin: 0 5px;
                transition: 0.4s;
                font-size: 1.8rem;
                .fa-chevron-left::before {
                    font-size: 1.4rem;
                }
                .fa-chevron-right::before {
                    font-size: 1.4rem;
                }
            }
            .previouspostslink:hover {
                background: color.$textColor;
                color: color.$subColor;
                border-color: color.$textColor;
                cursor: pointer;
            }
            .nextpostslink:hover {
                background: color.$textColor;
                color: color.$subColor;
                border-color: color.$textColor;
                cursor: pointer;
            }
        }
    }
}