@charset "UTF-8";
@use "../foundation/mixin";
@use "../object/utility/color";
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    color: color.$textColor;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
}